@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body, html {
    height: 100%;
    margin: 0;
}

.HackYU-container {
    position: relative;
    height: 72%;
    overflow: hidden;
    flex-direction: column;
}
.HackYU-container::before{
    content: "";
    left: 0;
    right: 0;
    z-index: -1;

    display: table;
    flex-direction: column;
    overflow: hidden;
    background-image: url("../pictures/YU_picture.jpg");
    background-size:cover;
    width: 100%;
    height: 100%;

    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
}
input {
    display: none;
}
label{
    height: 100%;
    width: 100%;
}
.HackYU-container > * {
    flex: 1;
}
#aboutHackYU {
    color: black;
    width: 70%;
    justify-content: center;
    height: 200px;
    top: 50%;
    left: 50%;
    position: absolute;
    text-align: center;
    font-size: xx-large;
    font-family: 'Ubuntu', sans-serif;
    transform: translate(-50%, -50%);
    align-content: space-around;

}

.guest, #aboutHackYU, .sponsor {
    background-color: transparent;
    perspective: 1000px;
}
.guest, .sponsor{
    height: fit-content;
}
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    display: flex;
}
#flip-card-inner:checked + label .flip-card-inner {
    transform: rotateY(180deg);
}


/* Do an horizontal flip when you move the mouse over the flip box container */
label:hover .flip-card-front{
    -webkit-transform: rotateY(1deg);
    transform: rotateY(1deg);
    box-shadow: 20px 0 20px 0 rgba(50,50,50,.2);
    cursor: pointer;
}
.guest:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.sponsor:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: x-large;
    min-width: 100%;
    height: fit-content;
    min-height: 100%;
}

/* Style the back side */
.flip-card-back {
    transform: rotateY(180deg);
}
.main-body, #guests, #sponsors {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
}
#guests, #sponsors, .jumbotron{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}

.main-body > * {
    flex-basis: 100%;
}

.main-body {
    padding: 5% 10% 5% 10%;
    background-color: #f1f6f9;
}

.picture-sized{
    width: 200px;
    height: 200px;
    object-fit: cover;
}
h1{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: x-large;
    /*margin: 0;*/
    /*border-bottom-left-radius: 25px;*/
    /*border-bottom-right-radius: 25px;*/
    margin: 10px 30% 10px 30%;
    border-radius: 25px;
    border-width: medium;
    border-style: solid;
    /*border-color: rgba(241, 29, 40, 1);*/
    /*background-color: rgba(253, 58, 45, 0.8);*/
    border-color: #f11d28;
    background-color: #f34a52;
    color: #f1f6f9;
}

.flip-card-inner > *{
    color: #F11D28;
    background-color: rgba(241, 246, 249, 0.85);
    border-radius: 25px;
    filter: blur(0px);
    -webkit-filter: blur(0px);
}

/*.flip-card-front:hover{*/
/*    color: rgba(241, 246, 249, 1);*/
/*    background-color: rgba(241, 29, 40, 0.85);*/
/*}*/
.signup{
    position: absolute;
    text-align: center;
    border-radius: 10px;
    padding: 13px;
    background-color: rgba(241, 29, 40, 0.8);
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: large;
    width: 15%;
    bottom: 12%;
    height: 17%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.signup:hover{
    color: #F11D28;
    background-color: rgba(241, 246, 249, 0.85);
}

.YU-signup{
    left: 25%;
}

.nonYU-signup{
    right: 25%;
}

.sponsor-img{
    object-fit: contain;
    background-color: white;
}
#guests{
    /*TODO: remove when added guests*/
    display: none;
}
.flip-card-front{
    font-size: 150%;
    font-weight: bolder;
}
.jumbotron{
    text-align: justify;
    font-size: large;
    color:dimgray;
    /*background-color: #3E474C;*/
}
.jumbo-br{
    line-height: 150%;
}
.rules, .rules > * {
    margin: 0 0 0.4em;
}
.highlight, .rules{
    color: #F11D28;
    opacity: 0.75;
}

.signups:after{

    bottom: 14%;
    display:table-row;
    overflow: hidden;
    content: " ";
    clear: both;

}
