@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
}

body, html, .HackYU-container {
    height: 100%;
}
body > * {
    font-family: 'Ubuntu', sans-serif;
}
body {
    /*margin: 0 10% 0 10%;*/
    margin: 0;
    /*padding: 0 20px 0 20px;*/
    padding: 0;
    background-color: #f1f6f9;
    top: 200px;
}
h1{
    position: relative;
    top: 0;
    font-size: xx-large;
    text-align: center;
    color: #FD3A2D;
    margin-top: 10px;
}
#nothing-here{
    /*TODO: change margins schedule added*/
    margin: 13.5% 0 13.5% 0;
    text-align: center;
    font-size: large;
}
table{
    /*TODO: remove when schedule added */
    display: none;
}

footer {
    position: relative;
    bottom: 0;
}