@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
}

body, html, .HackYU-container {
    height: 100%;
}
body > * {
    font-family: 'Ubuntu', sans-serif;
}
body {
    /*margin: 0 10% 0 10%;*/
    margin: 0;
    /*padding: 0 20px 0 20px;*/
    padding: 0;
    background-color: #f1f6f9;
    top: 200px;
}
h1{
    font-size: xx-large;
    text-align: center;
    /*color: #FD3A2D;*/
    color: #F9A131;
    margin-top: 10px;
}

.table td {
    border-color: #444FA5;
}

.HackYU-Schedule {
    margin: auto;
    width: 299px;
    border-bottom: solid 1px #444FA5;
}

.table {
    margin-bottom: 0;
}

footer {
    position: relative;
    bottom: 0;
}