@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
body, html{
    height: 100%;
}

body{
    /*margin: 0 10% 0 10%;*/
    background-color: #f1f6f9;
    text-align: center;
}
body > *{
    font-family: 'Ubuntu', sans-serif;
}

.free-text {
    font-weight: bold;
}

/*.YU{*/
/*    color: #F9A131;*/
/*}*/
/*.general{*/
/*    color: #F9A131;*/
/*}*/

h1{
    font-size: xx-large;
    text-align: center;
    color: #F9A131;
    /*color: #FFA12C;*/
    margin-top: 10px;
}

.other-signup{
    color: rgba(68, 79, 165, 0.9);
    text-underline: rgba(68, 79, 165, 0.9);
    text-decoration: underline;
}