@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
body, html{
    height: 100%;
}

body{
    font-family: 'Indie Flower', cursive;
    /*margin: 0 10% 0 10%;*/
    background-color: #f1f6f9;
    text-align: center;
}

h1 {
    font-family: "Indie Flower", cursive;
    letter-spacing: 1px;
}

.free-text {
    letter-spacing: 1px;
    font-weight: bold;
}

.YU{
    color: #FF872C;
}
.general{
    color: #FFA12C
}
.other-signup{
    color: rgba(68, 79, 165, 0.9);
    text-underline: rgba(68, 79, 165, 0.9);
    text-decoration: underline;
}