@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
body, html{
    height: 100%;
}

body{
    font-family: 'Indie Flower', cursive;
    margin: 0 10% 0 10%;
    background-color: #f1f6f9;
    text-align: center;
}
